<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.CourierSonUserMapper" >
  <cache type="com.zking.ssm.redis.RedisCache" />
  <resultMap id="BaseResultMap" type="com.zking.ssm.model.CourierSonUser" >
    <constructor>
      <idArg column="csuid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cuid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="eid" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <arg column="csustutic" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <!--一对一-->
  <resultMap id="onetomeny" type="com.zking.ssm.model.CourierSonUser" >
      <id column="csuid" property="csuid" javaType="java.lang.Integer" />
      <result column="cuid" property="cuid" javaType="java.lang.Integer" />
      <result column="eid" property="eid" javaType="java.lang.Integer" />
      <result column="csustutic" property="csustutic" javaType="java.lang.String" />
      <collection property="courierUser" javaType="courierUser">
        <id column="cuid" property="cuid" javaType="java.lang.Integer" />
        <result column="uid" property="uid" javaType="java.lang.Integer" />
        <result column="curemark" property="curemark" javaType="java.lang.String" />
        <result column="eutime" property="eutime" javaType="java.util.Date" />
      </collection>
      <collection property="express" javaType="express">
        <id column="eid" property="eid" javaType="java.lang.Integer" />
        <result column="orderId" property="orderid" javaType="java.lang.String" />
        <result column="ordername" property="ordername" javaType="java.lang.String" />
        <result column="orderprice" property="orderprice" javaType="java.lang.Float" />
        <result column="orderweight" property="orderweight" javaType="java.lang.String" />
        <result column="ordervolume" property="ordervolume" javaType="java.lang.String" />
        <result column="orderAddress" property="orderaddress" javaType="java.lang.String" />
        <result column="orderremark" property="orderremark" javaType="java.lang.String" />
        <result column="esid" property="esid" javaType="java.lang.Integer" />
        <result column="uid" property="uid" javaType="java.lang.Integer" />
        <result column="shipper" property="shipper" javaType="java.lang.String" />
        <result column="shipperTime" property="shippertime" javaType="java.util.Date" />
        <result column="shipperPhone" property="shipperphone" javaType="java.lang.String" />
        <result column="shipperaddress" property="shipperaddress" javaType="java.lang.String" />
        <result column="consignee" property="consignee" javaType="java.lang.String" />
        <result column="consigneePhone" property="consigneephone" javaType="java.lang.String" />
        <result column="consigneeAddress" property="consigneeaddress" javaType="java.lang.String" />
        <result column="consigneeTime" property="consigneetime" javaType="java.util.Date" />
      </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    csuid, cuid, eid,csustutic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from courier_son_user
    where csuid = #{csuid,jdbcType=INTEGER}
  </select>
    <select id="listCourierSonUser" resultMap="onetomeny" parameterType="courierSonUser">
        SELECT a.*,b.*,c.* FROM courier_son_user a JOIN courier_user b ON a.cuid = b.cuid JOIN t_express c ON a.eid = c.eid WHERE 1=1
        <if test="cuid != null and cuid != ''" >
          AND a.cuid = #{cuid,jdbcType=INTEGER}
        </if>
</select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from courier_son_user
        where csuid = #{csuid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zking.ssm.model.CourierSonUser" >
        insert into courier_son_user ( cuid, eid)
        values ( #{cuid,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.zking.ssm.model.CourierSonUser" >
        insert into courier_son_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="csuid != null" >
                csuid,
            </if>
            <if test="cuid != null" >
                cuid,
            </if>
            <if test="eid != null" >
                eid,
            </if>
            <if test="csustutic != null" >
                csustutic,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="csuid != null" >
                #{csuid,jdbcType=INTEGER},
            </if>
            <if test="cuid != null" >
                #{cuid,jdbcType=INTEGER},
            </if>
            <if test="eid != null" >
                #{eid,jdbcType=INTEGER},
            </if>
            <if test="csustutic != null" >
                #{csustutic,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm.model.CourierSonUser" >
        update courier_son_user
        <set >
            <if test="cuid != null" >
                cuid = #{cuid,jdbcType=INTEGER},
            </if>
            <if test="eid != null" >
                eid = #{eid,jdbcType=INTEGER},
            </if>
            <if test="csustutic != null" >
                csustutic = #{csustutic,jdbcType=VARCHAR},
            </if>
        </set>
        where csuid = #{csuid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zking.ssm.model.CourierSonUser" >
    update courier_son_user
    set cuid = #{cuid,jdbcType=INTEGER},
      eid = #{eid,jdbcType=INTEGER},
      csustutic = #{csustutic,jdbcType=VARCHAR}
    where csuid = #{csuid,jdbcType=INTEGER}
  </update>
</mapper>